<!DOCTYPE html>
<html lang="en">

<head>

    <title>Park Activities</title>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <script src="{{url_for('static', filename= 'js/leaflet.extra-markers.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/leaflet.extra-markers.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    
    
    
    
    
    
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    
    <!-- Icons -->
  <script src="{{url_for ('static', filename = 'js/leaflet.extra-markers.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

   <!-- Our CSS -->
   <link rel="stylesheet" type="text/css" href="{{url_for ('static', filename = 'css/styles.css')}}">

</head>

<body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <div class="col-xs-9 phone-nav">
                <a class="navbar-brand" href="{{url_for('welcome') }}" id="logo">Homepage</a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div>
                <div>
                    <ul class="nav navbar-nav justify-content-end">


                        <li class="nav-item">
                            <a class="nav-link {{pages['activities']}}" aria-current="page"
                                href="{{url_for('activitiespage') }}">Activities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{pages['amenities']}}" aria-current="page"
                                href="{{url_for('amenitiespage') }}">Amenities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{pages['weather']}}" aria-current="page"
                                href="{{url_for('weatherpage') }}">Weather</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <!-- End of navbar -->
    <div id="map-id"></div>
    <script>const url = "{{url_for('parks')}}";</script>
    <script type="text/javascript" src="{{url_for('static', filename='js/activities.js')}}"></script>

</html>